html {
  font-size: calc(100vw / 1920 * 10);
}

body {
  font-family: sans-serif;

  background: #111;
  color: #eee;
  // min-height: 100vh;
}

.App {
  // height: 200vh;
}

h1 {
  font-size: 32px;
}

a {
  text-decoration: underline;
}

@media (max-width: 750px) {
  .container {
    padding: 0 24px;
  }
}
